.attribution{ font-size: 11px;
     text-align: center;
     position: absolute;
     top: -40px;
     left: 50%;
     transform: translateX(-50%); 
     
    }
    .attribution a { 
        color: hsl(228, 45%, 44%);
     }
     .qr-code{
        width: 250px;
        height: 250px;
        
        border-radius: 15px;
        
        margin-bottom: 10px;
     }
     .box{
      
      padding: 20px;
      width: 250px;
      height: 400px;
      display: inline-block;
      border-radius: 25px;
      background-color:white;
     }
     body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color:gray;
     }
     .box-container{
      text-align: center;
     position: relative;
     }
